In [1]:
import pandas as pd
from datetime import datetime

In [2]:
path_file = '/run/media/sergey/Archive_records/Disk_D/Data_analytics/ТЕСТОВЫЕ/01 585 Ювелирка Excel/Тестовое - Задание 2.csv'

In [3]:
df = pd.read_csv(path_file)

In [4]:
df.head()

,ДатаПродажи,НомерЧека,Номенклатура,Штрихкод,ТоварнаяГруппа,СН_Характеристика,бгсВес,ОбщаяСумма,Себестоимость
0,4/1/23 10:05,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,"2,89",51180,"17276,0475"
1,4/1/23 10:08,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,"3,99",34740,"12074,747"
2,4/1/23 10:08,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5","2,05",17760,"6629,612"
3,4/1/23 10:11,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0","1,46",756,"302,22"
4,4/1/23 10:12,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0","2,7",1560,"458,9995"

In [5]:
df.dtypes

ДатаПродажи          object
НомерЧека             int64
Номенклатура         object
Штрихкод              int64
ТоварнаяГруппа       object
СН_Характеристика    object
бгсВес               object
ОбщаяСумма           object
Себестоимость        object
dtype: object

# Подготовка данных

1. Необходимо указать соотвутствующий тип данных для каждой колонки, согласно ее содержанию.
2. Необнодимо переименовать колонки на английский текст, для дальнейшей удобной обработки.

In [6]:
# Чтение датайфрейма
df = pd.read_csv(
    filepath_or_buffer=path_file,                                        # путь к файлу
    skiprows=1,                                                          # игнорирование строки с русскими названиями колонок
    encoding='utf-8',                                                    # кодировка 
    sep=',',                                                             # разделитель столбцов
    decimal=',',                                                         # Указываем, что десятичный разделитель - запятая
    names=[
        'date_sale',                                                     # новые имена колонок
        'cheque', 
        'nomenclature', 
        'darcode', 
        'product_group',
        'characteristic',
        'waight',
        'total_amount',
        'cost_price'
          ],
    parse_dates=['date_sale'],                                           # указываем колонки с типами данныд "дата"
    date_format='%m/%d/%y %H:%M',                                        # указываем формат чтения даты.
    dtype={                                                              # явное указание типов данных
            'cheque': 'int',                                             
            'nomenclature': 'string', 
            'darcode': 'int',
            'product_group': 'string',
            'characteristic': 'string',
            'waight': 'float',
            'total_amount': 'float',
            'cost_price': 'float'
          }
)

In [7]:
df.head()

,date_sale,cheque,nomenclature,darcode,product_group,characteristic,waight,total_amount,cost_price
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,2.89,51180.0,17276.0475
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,3.99,34740.0,12074.7470
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5",2.05,17760.0,6629.6120
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0",1.46,756.0,302.2200
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0",2.70,1560.0,458.9995

In [8]:
df.dtypes

date_sale         datetime64[ns]
cheque                     int64
nomenclature      string[python]
darcode                    int64
product_group     string[python]
characteristic    string[python]
waight                   float64
total_amount             float64
cost_price               float64
dtype: object

---
С этим уже можно работать.

# Фильтрация данных в соответствии с условиями.

1. Период анализа - с 1.04.23 по 10.04.23
2. В анализе должны участвовать только продажи изделий с общей суммой и себестоимостью больше 0 рублей

In [9]:
df.tail(3)

,date_sale,cheque,nomenclature,darcode,product_group,characteristic,waight,total_amount,cost_price
139994,2023-04-15 21:42:00,4349,Серьги,1078603946571,БК СЕРЬГИ,Au 585º -,3.81,31800.0,10183.4570
139995,2023-04-15 21:53:00,6091,Браслет Лав пуст с а/г,1078515133799,ЦБ БРАСЛЕТЫ,"Au 585º -, разм.17,0",0.87,5748.0,2508.2075
139996,2023-04-15 22:11:00,3171,кольцо с брилл+рубин корунд синт. с родир.,1078346464464,ДК КОЛЬЦА,"Au 585º -, разм.17,5",1.75,8190.0,3954.4590

In [10]:
filtered_df = df.query(
    "(date_sale >= @pd.to_datetime('2023-04-01')) & "  # Дата >= 1 апреля 2023
    "(date_sale <= @pd.to_datetime('2023-04-10')) & "  # Дата <= 10 апреля 2023
    "(total_amount > 0) & "                            # Общая сумма > 0
    "(cost_price > 0)"                                 # Себестоимость > 0
)

In [11]:
filtered_df

,date_sale,cheque,nomenclature,darcode,product_group,characteristic,waight,total_amount,cost_price
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,2.89,51180.0,17276.0475
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,3.99,34740.0,12074.7470
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5",2.05,17760.0,6629.6120
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0",1.46,756.0,302.2200
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0",2.70,1560.0,458.9995
...,...,...,...,...,...,...,...,...,...
126453,2023-04-09 21:42:00,9519,Серьга-пусета с брилл.+фиан. с родир.,1078598756041,ДК СЕРЬГИ,Au 585º -,0.44,2388.0,1041.4055
126454,2023-04-09 21:42:00,9519,Серьга-пусета с брилл.+фиан. с родир.,1078598765301,ДК СЕРЬГИ,Au 585º -,0.43,2388.0,1009.4010
126455,2023-04-09 21:46:00,1066,"Кольцо, фианит",1078570584976,ИФ КОЛЬЦА,"Au 585º -, разм.16,5",0.80,4800.0,2403.7990
126456,2023-04-09 21:46:00,1066,Серьги с брилл.+топ.swiss с родир.,1078587667037,ДК СЕРЬГИ,Au 585º -,1.65,8988.0,5609.6540
126457,2023-04-09 21:57:00,1483,Серьги-пуссеты с фиан. род.,1078603511561,СИ СЕРЬГИ РАЗН,Ag 925º -,1.08,1680.0,490.5900

# Нахождение средней наценки для двух групп металлов.

Для группировки данных по металлу создам колонку, в которой будет указан метал проданного изделия. Исходные данные возьму из колонки "characteristic". Использовать буду регулярные выражения.

In [14]:
filtered_df.loc[:, 'metal'] = filtered_df['characteristic'].str.extract(r'([A-Za-z]+)')[0]

In [15]:
filtered_df

,date_sale,cheque,nomenclature,darcode,product_group,characteristic,waight,total_amount,cost_price,metal
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,2.89,51180.0,17276.0475,Au
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,3.99,34740.0,12074.7470,Au
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5",2.05,17760.0,6629.6120,Au
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0",1.46,756.0,302.2200,Ag
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0",2.70,1560.0,458.9995,Ag
...,...,...,...,...,...,...,...,...,...,...
126453,2023-04-09 21:42:00,9519,Серьга-пусета с брилл.+фиан. с родир.,1078598756041,ДК СЕРЬГИ,Au 585º -,0.44,2388.0,1041.4055,Au
126454,2023-04-09 21:42:00,9519,Серьга-пусета с брилл.+фиан. с родир.,1078598765301,ДК СЕРЬГИ,Au 585º -,0.43,2388.0,1009.4010,Au
126455,2023-04-09 21:46:00,1066,"Кольцо, фианит",1078570584976,ИФ КОЛЬЦА,"Au 585º -, разм.16,5",0.80,4800.0,2403.7990,Au
126456,2023-04-09 21:46:00,1066,Серьги с брилл.+топ.swiss с родир.,1078587667037,ДК СЕРЬГИ,Au 585º -,1.65,8988.0,5609.6540,Au
126457,2023-04-09 21:57:00,1483,Серьги-пуссеты с фиан. род.,1078603511561,СИ СЕРЬГИ РАЗН,Ag 925º -,1.08,1680.0,490.5900,Ag

Для нахождения средней наценки, определю ее для каждого проданного товара, потом сгруппирую данные по металлую.

In [17]:
filtered_df.loc[:, 'markup'] = filtered_df['total_amount'] - filtered_df['cost_price']

In [33]:
filtered_df.head()

,date_sale,cheque,nomenclature,darcode,product_group,characteristic,waight,total_amount,cost_price,metal,markup
0,2023-04-01 10:05:00,1814,серьги с брил.+изумрудом с родир,1078601904686,ДК СЕРЬГИ,Au 585º -,2.89,51180.0,17276.0475,Au,33903.9525
1,2023-04-01 10:08:00,4868,Серьги с топазом,1078551306013,ПДК СЕРЬГИ,Au 585º -,3.99,34740.0,12074.7470,Au,22665.2530
2,2023-04-01 10:08:00,617,Кольцо с брилл.+изум.гидротерм. с родир.,1078509166518,ДК КОЛЬЦА,"Au 585º -, разм.18,5",2.05,17760.0,6629.6120,Au,11130.3880
3,2023-04-01 10:11:00,461,Кольцо с амет. род.,1078579406088,СИ КОЛЬЦО ЦВ/К,"Ag 925º -, разм.19,0",1.46,756.0,302.2200,Ag,453.7800
4,2023-04-01 10:12:00,3939,Цепь Якорь с а/г род.,1078601866814,СИ ЦЕПЬ,"Ag 925º -, разм.40,0",2.70,1560.0,458.9995,Ag,1101.0005

In [58]:
result = (
    filtered_df
    .groupby(['metal'])  # Группировка по колонке 'metal'
    .agg(
        average_markup=('markup', 'mean')  # Вычисление среднего значения наценки
    )
    .round(1)  # Округление до 2 знаков после запятой
    .reset_index()  # Преобразование индекса в колонку
)

In [59]:
result

  metal  average_markup
0    Ag          1294.1
1    Au          8631.5

In [62]:
print(f'''Cредняя наценка на ювелирные изделия из золота составляет {result.average_markup[1]} рубля, из серебра - {result.average_markup[0]} рубля.''')

Cредняя наценка на ювелирные изделия из золота составляет 8631.5 рубля, из серебра - 1294.1 рубля.